.display-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}


.group2-button, .group3-button {
    padding: 15px 40px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-align: center;
    min-width: 160px;
}


.group2-button {
    background-color: #ab6be3;
    color: white;
}

.group2-button:hover {
    background-color: #de3cc8;
    transform: translateY(-3px);
    box-shadow: 0px 5px 15px rgba(0, 123, 255, 0.3);
}


.group3-button {
    background-color: #4179e2;
    color: white;
}

.group3-button:hover {
    background-color: #43d4e8;
    transform: translateY(-3px);
    box-shadow: 0px 5px 15px rgba(40, 167, 69, 0.3);
}


h2 {
    text-align: center;
    font-size: 36px; 
    font-weight: bold;
    color: #6cc25c; 
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif; 
    position: relative;
    display: inline-block;
    padding-bottom: 8px;
}

h2::after {
    content: "";
    width: 60%;
    height: 4px;
    background: linear-gradient(90deg, #007bff, #28a745);
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

h2:hover::after {
    opacity: 1;
}